%form.pagination-centered{:action => "/", :method => "post"}
	%h1 See the weather
	%br
	.form-group
		%label.control-label{:for => "inputCity"} City name
		%input#inputCity.form-control{:placeholder => "City name", :name => "city", :type => "text"}/
	.form-group
		%label.control-label{:for => "inputCount"} Count of days
		%input#inputCount.form-control{:placeholder => "Count of days", :name => "days", :type => "number"}/
		%br
		%span.form-message *A week for default
		%br
	.form-group
		%button.btn.btn-success{:type => "submit"} Submit
			