!!!
%html
  %head
    %title City Weather
    %meta{:content => "City, Weather, Forecast, http://openweathermap.org, Lviv, LITS, Terletskyi V.T., VST", :name => "City Weather"}
    %meta{:content => "A little web application. Used Ruby, Sinatra, Haml, JSON. API from http://openweathermap.org. Home task for Lviv LITS. By Terletskyi V.T. VST", :name => "description"}
    %link(rel="stylesheet" href="css/bootstrap.css")
    %link(rel="stylesheet" href="bootstrap-responsive.css")
    %link(rel="stylesheet" href="css/style.css")
    %script(src="js/bootstrap.js")
  %body
    #wrapper
      #header
        .head
          %a{:href => "/"}
            %h1
              City Weather 
              %img{:alt => "logo", :src => "img/windy3.png"}/
        .menu
          %a{:href => "/"}
            %h2 Home      
        
      #content
        =yield
 
      #footer
        %hr/