*{
	margin: 0 auto;
}
#wrapper {
	/*margin: 1% 10% 2% 10%;*/
}
a, a:hover {
	color: #333;
	text-decoration: none;
}
#header {
	height: 200px;
	width: 100%; 
	background-image: url(/img/green-cities.jpg); 
    /*background-color: #83FF5C;*/
}
#footer {
	height: 100px;
}
.head {
	color: #333;
	text-align: right;
	margin: 6px;
}
.head h1 {
	font-size: 6em;
}	
.head img {	
	margin-left: -0.3em;
	margin-right: 0.5em;
	height: 1em;
}
.login-form{
	margin-left: 100px;
	width: 25%;
	padding: 7px;
	padding-left: 20px;
	background-color: #eee;
	opacity: 0.8;
}
.login-form form{
	padding-left: 20px;
}
.menu {
	padding: 5px;
	margin-top: 44px;
	margin-left: 84px;
}
.menu a{
	font-size: 2em;
	color: white;
}

/*--------------------*/
h1.output{
	margin:40px 0px;
}
table.table-style{
	width: 90%;
} 

form{
	margin: 50px auto;
}

input {
	width: 50%;
	margin-bottom: 20px;
}

.form-message {
	margin-left: 40%;
	font-size: .8em;
}
.wind-arrow {
	max-height: 2.3em; 
	max-width: 2.3em;
}

.th-color{
	background:#507F3B;
	font-size: 1.24rem;
    color: white;	
}
.tr-color{
	background:#79BD42;
}
.table td{
	text-align: center;
}